@model IEnumerable<Microsoft.AspNet.Identity.EntityFramework.IdentityRole>
@{
    ViewBag.Title = "Add Role";
}
<div id="bucket">
    <div class="table-responsive">
        <table class="table table-bordered table-hover">
            <tr>
                <td align="center" colspan="2">
                    <h2> Create User Roles</h2>
                </td>

            </tr>

            <tr>
                <td>
                    <table>
                        @{int tot = Model.Count();
                            int ind = 0;}
                        @foreach (var item in Model)
                        {
                            ind++;
                            <tr>
                                <td class="text-left">
                                   @ind @item.Name
                                </td>
                            </tr>
                        }
                    </table>
                </td>
                <td align="right">


                    <h3>   @Html.ActionLink("Click to Create New Role", "Create", "Role", null, new { @class = "btn btn-primary" }) </h3>
                </td>
            </tr>
        </table>
    </div>
    @Html.ActionLink("Assign Role to User", "RoleAssignment", "Role", null, new { @class = "btn btn-primary" })
</div>